---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="The birth of a baby is an exciting and happy time for parents. After months of anticipation and planning, at last the day arrives when the much-anticipated baby is born. Finally, the family can be united. In order of importance, placing the infant skin-to-skin with the mother is paramount followed by the early initiation of breastfeeding. Next comes the administration of the newborn medications which include the vitamin K injection, hepatitis B immunization and erythromycin eye ointment. Each of these are recommended by the American Academy of Pediatrics as they are important for the health and wellbeing of newborns. Each will be briefly discussed below with helpful links to additional resources provided."
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap"
			rel="stylesheet"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
